@model Project_Keystone.Models.ProjectTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority.PriorityColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
